.img-container {
	width: 500px;
	height: auto;
	float: left;
}

.img-preview {
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
}

.cropper-view-box {
	box-shadow: 0 0 0 1px #39f;
	border-radius: 50%;
	outline: 0;
}

.cropper-face {
	background-color: inherit !important;
}

.cropper-view-box {
	outline: inherit !important;
}

#upload-photo {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.img-upload {
	width: 500px;
	height: auto;
}
