.signup-card {
	margin: 0 auto;
	margin-top: 2em;
	width: min(85%, 500px);
	background-color: #fff;
	border-radius: 0.25rem;
	text-align: center;
	padding: 1rem;
}

.signup-logo {
	width: 80px;
	height: auto;
}

.login-label {
	font-size: 1.5rem;
	text-align: center;
	color: #16191c;
	margin-top: 0;
}

input.login-input {
	width: min(90%, 400px);
	display: block;
	background: #f7f7f7;
	border-radius: 4px;
	border: 1px solid #f7f7f7;
	box-shadow: 0 0 0 0 transparent;
	font-size: 14px;
	font-weight: 500;
	height: 44px;
	padding: 0 0.25rem 0 0.75rem;
	margin: 1em auto 1em auto;
	outline: none;
	transition: 200ms ease-in-out;
}

input.login-input:hover {
	border-color: rgb(50, 160, 183);
}

input.login-input:focus {
	border-color: transparent;
	border-bottom-color: rgb(50, 160, 183);
	box-shadow: 0 1px 0 0 rgb(50, 160, 183);
}

button.login-button {
	box-shadow: none;
	padding: 11px 24px 10px;
	font-size: 14px;
	line-height: 17px;
	color: white;
	font-weight: 500;
	border-radius: 45px;
	margin: 0 auto 1rem;
}

span.sign-up-label {
	font-size: 1rem;
	font-weight: normal;
	margin: 0 8px 0 auto;
}

.sign-up-button {
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	margin: 0 auto 0 0;
	font-weight: 600;
	color: #16191c;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
	border-bottom: 2px solid transparent;
	transition: 200ms ease-in-out;
}

.sign-up-button:hover {
	border-bottom: 2px solid rgb(50, 160, 183);
}

.signup-text {
	font-size: 3em;
	font-weight: 700;
}
