.navbar {
	height: 50px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	width: min(100%, 1024px);
	justify-content: center;
}

.navbar-content {
	display: flex;
	justify-content: flex-end;
	align-content: center;
}

.navbar-text {
	margin: auto;
}

.navbar-logo,
.navbar-profile-img {
	height: 40px;
	width: 40px;
	margin: auto 0;
	justify-self: flex-start;
}
.navbar-info-icon {
	font-size: 1.5rem;
	margin: auto 0;
	margin-right: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar-game-switch {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.throw-dice-button {
	justify-self: center;
	align-self: center;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	font-size: 2rem;
	padding: 0;
	width: 2em;
	height: 40px;
	text-align: center;
}

.fa-gamepad {
	align-self: center;
	justify-self: center;
	text-align: center;
	padding-bottom: 0.1em;
}

.fa-info-circle {
	padding-top: 0.06em;
}
